.section-one{
 padding: 5% 30%;   
}

.logo-container{
    padding: 20px;
}


@media (max-width:520px){
.section-one{
    padding: 10% 5%;   
    }
    
    .logo-container{
        padding: 20px;
    }
}