<%- include ('include/header') -%>

<div class="contact ">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 contact-details">
                <div class="each-contact-details text-center">
                    <h5>Phone</h5>
                    <h3>01268 533102</h3>
                </div>
            </div>

            <div class="col-sm-12 contact-details">
                <div class="each-contact-details text-center">
                    <h5>Email</h5>
                    <h4>money@wosiwosi.co.uk</h4>
                </div>
            </div>

        </div>
    </div>
</div>

<%- include ('include/footer') -%>