<%- include("include/headerdashboard") -%>

<div class="section-one">
    <div class="container">
        <div class="row">
            <div class="text-center logo-container">
              <a href="/"><img class="logo" src="images/wmi.png"></a>
            </div>

            <div class="col-sm-12">
                    <div>
                        <form method="post" action="/qreceive">
                            <h6 class="alert alert-success text-center">QUICK NGN TO GBP FORM</h6>

                            <div class="mb-2 form-floating">
                                <input type="text" class="form-control" name="fname" id="floatingInput" placeholder="UK Bank Name" required>
                                <label for="floatingInput" class="form-label">First Name</label>
                            </div>

                            <div class="mb-2 form-floating">
                                <input type="text" class="form-control" name="lname"  id="floatingInput" placeholder="UK Bank Name" required>
                                <label for="floatingInput" class="form-label">Last Name</label>
                            </div>

                            <div class="mb-2 form-floating">
                                <input type="text" class="form-control" name="address"  id="floatingInput" placeholder="UK Bank Name" required>
                                <label for="floatingInput" class="form-label">Address</label>
                            </div>

                            <div class="mb-2 form-floating">
                                <input type="text" class="form-control" name="postcode"  id="floatingInput" placeholder="UK Bank Name" required>
                                <label for="floatingInput" class="form-label">Post Code</label>
                            </div>

                            <div class="mb-2 form-floating">
                                <input type="number" class="form-control" name="phone"  id="floatingInput" placeholder="UK Bank Name" required>
                                <label for="floatingInput" class="form-label">Phone</label>
                            </div>

                            <div class="mb-2 form-floating">
                                <input type="email" class="form-control" name="email"  id="floatingInput" placeholder="UK Bank Name" required>
                                <label for="floatingInput" class="form-label">Email</label>
                            </div>
                            
                                    <div class="mb-2 form-floating">
                                        <input type="text" class="form-control" name="ukBank"  id="floatingInput" placeholder="UK Bank Name" required>
                                        <label for="floatingInput" class="form-label">UK Bank name</label>
                                    </div>
                                    <div class="mb-2 form-floating">
                                        <input type="number" class="form-control" name="ukaccount"  id="floatingInput" placeholder="UK Bank Account Number" required>
                                        <label for="floatingInput" class="form-label">UK Bank account number</label>
                                    </div>
                                    <div class="mb-2 form-floating">
                                        <input type="number" class="form-control"  name="sortCode"  id="floatingInput" placeholder="Sort Code" required>
                                        <label for="floatingInput" class="form-label">Sort Code</label>
                                    </div>
                                    <div class="mb-2 form-floating">
                                        <input type="text" class="form-control" name="nameOnAccount"   id="floatingInput" placeholder="Name On Account" required>
                                        <label for="floatingInput" class="form-label">Name on the account</label>
                                    </div>
                                    <div class="mb-2 form-floating">
                                        <input type="text" class="form-control" name="description"  id="floatingInput" placeholder="Transaction Details" required>
                                        <label for="floatingInput" class="form-label">Transaction description</label>
                                    </div>
                                    <h6 class="alert alert-dark">Student school fees, kindly enter your CAS as description</h6>
                                    
                                    <div class="mb-2 form-floating">
                                        <input type="number" class="form-control" name="amount"  id="floatingInput" placeholder="Amount in Naira" required>
                                        <label for="floatingInput" class="form-label">Amount in Naira</label>
                                    </div>

                                    <div class="mb-2 form-floating">
                                        <input type="number" class="form-control" name="amount"  id="floatingInput" placeholder="Amount in Naira" required>
                                        <label for="floatingInput" class="form-label">Amount in Naira</label>
                                    </div>
                                    
                                    <p>By using this service, you agreed to <a href="">terms</a>, and <a href="">privacy policy</a> of Wosiwosi Money</p>
                                    <button class="btn btn-success btn-md" type="submit"> Submit </button>
                                </form>
                        </div>
            </div>

        </div>
    </div>
</div>
        
<%- include("include/footerdashboard") -%>