<%- include ("include/header") -%>

<div class="default-padding">
<div class="container">
<div class="row"> 
    <div class="col-sm-12">
        <h3>WosiWosi Money App Privacy Policy</h3>

        <h5>Effective Date: 1st September, 2023</h5>
        
        <h5>1. Introduction</h5>
        
        <p>Welcome to the WosiWosi Money App, provided by WosiWosi Foods Limited. Protecting your privacy and personal information is a fundamental commitment we uphold. This Privacy Policy outlines how we collect, use, safeguard, and share your personal information when you use the WosiWosi Money App. By accessing and using the app, you agree to the practices outlined in this policy.</p>
        
        <h5>2. Information We Collect</h5>
        <p>We may collect various types of information, including:
        <ul>
            <li>Personal Information: Identifiable details such as your name, email address, phone number, and any valid means of identification, including passport, driver's license, residential permit, and national card.</li>
            <li> Proof of Address: Documents verifying your address, such as utility bills or bank statements, to ensure regulatory compliance and security.</li>
            <li>Financial Information: Transaction details, payment information, and account balances.</li>
            <li>Transaction Information: Information about your exchange and transfer transactions, including recipient details and transaction history.</li>
            <li>Usage Data: Data related to your interactions with the app, including device information and app usage patterns.</li>
        </ul>
        </p>

        <h5>3. How We Use Your Information**</h5>
        <p>We utilize the collected information for purposes including:
        <ul>
            <li>Transaction Processing: Facilitating money exchange, transfers, and related transactions.</li>
            <li>Communication: Keeping you informed about transactions, account updates, and service-related matters.</li>
            <li>Service Enhancement: Improving the app's functionality, features, and user experience.</li>
            <li>Compliance: Fulfilling legal and regulatory obligations, including anti-money laundering (AML) and know-your-customer (KYC) requirements.
            <li>Customer Support: Assisting with inquiries, resolving issues, and providing customer support.</li>
        </ul>
        </p>
        
    <h5>Data Security</h5>
    <p>We employ robust security measures to safeguard your information against unauthorized access, alteration, disclosure, or destruction. These measures include encryption, secure authentication methods, and regular security assessments.</p>
        
    <h5>5. Data Sharing</h5>
    <p>We may share your information with:
        <ul>
            <li>Service Providers: Third-party partners who support app operations, payment processing, and customer assistance.</li>
            <li>Regulatory Authorities: When required to meet legal obligations or prevent fraudulent activities.</li>
            <li>Business Transfers: In the event of a merger, acquisition, or asset sale, your information may be transferred to the acquiring entity.</li>
        </ul> 
    </p>   

    <h5>6. Your Choices</h5>
    <p>You have rights concerning the information we collect:
        <ul>
            <li>Access: You can request access to the personal information we hold about you.</li>
            <li>Correction: You can correct inaccuracies in your personal data.</li>
            <li>Deletion: You can request the deletion of your personal information, subject to legal requirements.</li>
            <li>Opt-Out: You can opt out of receiving marketing communications from us.</li>
        </ul>
    </p>

    <h5>7. Children's Privacy</h5>
        <p>The WosiWosi Money App is not intended for use by individuals under 18 years old. We do not knowingly collect personal information from minors.</p>
        
    <h5>8. Changes to Privacy Policy</h5>
    <p>We retain the right to modify or update this Privacy Policy at our discretion. Any changes take effect upon posting within the app. Your continued app usage after such changes signifies your acceptance of the revised policy.</p>
    
    <h5>9. Contact Us</h5>
    <p>For queries or concerns about this Privacy Policy or our privacy practices, reach out to us at <a href="mailto:media@wosiwosi.co.uk">media@wosiwosi.co.uk</a>.</p>
    
    <h5>Thank you for selecting WosiWosi Money. We are dedicated to ensuring your privacy and security.</h5>
    </div>
</div>
</div>
</div>

<%- include ('include/footer') -%>