<%- include ("include/header") -%>
<div class="main-section">
    <div class="container">
        <div class="row">

            <div>
                <h4 class="">NGN TO GBP FORM</h4>                
            </div>

            <!-- <div class="col-sm-12">
                        <div>
                            <h6 class="alert alert-success text-center">NGN TO GBP FORM</h6>
                            <div class="transfer-form">
                                <form class="row g-1" method="post" action="/receive">
                                    <div class="mb-2 form-floating">
                                        <input type="number" class="form-control receiveAmount" id="floatingInput" placeholder="Amount in NGN" min="1000" max="15000" required>
                                        <label for="floatingInput" class="form-label">Amount in NGN (N)</label>
                                    </div>
                                    <div class="mb-2 form-floating">
                                        <input class="form-control equivalent" id="floatingInput" placeholder="Equivalent in GBP (£)" disabled >
                                        <label for="floatingInput" class="form-label">Equivalent in GBP (£)</label>
                                    </div>
                                    <h6 class="receive-message">£1 = <span id="rate"></span></h6>
                                    <h6 class="alert alert-warning">After charges, you'll get : <strong>£<span id="total"></strong></span></h6>
                                    <div class="mb-2 form-floating">
                                        <input type="text" class="form-control" id="floatingInput" placeholder="UK Bank Name" required>
                                        <label for="floatingInput" class="form-label">UK Bank name</label>
                                    </div>
                                    <div class="mb-2 form-floating">
                                        <input type="number" class="form-control" id="floatingInput" placeholder="UK Bank Account Number" required>
                                        <label for="floatingInput" class="form-label">UK Bank account number</label>
                                    </div>
                                    <div class="mb-2 form-floating">
                                        <input type="number" class="form-control" id="floatingInput" placeholder="Sort Code" required>
                                        <label for="floatingInput" class="form-label">Sort Code</label>
                                    </div>
                                    <div class="mb-2 form-floating">
                                        <input type="text" class="form-control" id="floatingInput" placeholder="Name On Account" required>
                                        <label for="floatingInput" class="form-label">Name on the account</label>
                                    </div>
                                    <div class="mb-2 form-floating">
                                        <input type="text" class="form-control" id="floatingInput" placeholder="Transaction Details" required>
                                        <label for="floatingInput" class="form-label">Transaction description</label>
                                    </div>
                                    <h6 class="alert alert-dark">Student school fees, kindly enter your CAS as description</h6>
                                    

                                    <div class="mb-2 form-floating">
                                        <input type="number" class="form-control" id="floatingInput" placeholder="Your NGN BVN" required>
                                        <label for="floatingInput" class="form-label">Your NGN BVN</label>
                                    </div>

                                    <div class="mb-2 form-floating">
                                        <input type="number" class="form-control" id="floatingInput" placeholder="Your NGN BVN" required>
                                        <label for="floatingInput" class="form-label">Amount in Naira</label>
                                    </div>
                                    
                                    <p>By using this service, you agreed to <a href="">terms</a>, and <a href="">privacy policy</a> of Wosiwosi Money</p>
                                    <button class="btn btn-success btn-md" type="submit" disabled> Submit </button>
                                </form>
                            </div>
                        </div>
            </div> -->
        
            <div class="forms-bar ">
                <% if(!user){%>
                <!-- section one -->
                <section class="section-one" id="section-one">
                    <h5 class="alert alert-dark">Kindly Login</h5>
                        <% if (messages.error){%>
                            <p class="alert alert-danger"><%= messages.error %></p>  
                            <%}%> 
                    <form action="/verifyMail" method="post"> 
                    <div class="col-12 mb-3 form-border">
                        <label for="email" class="form-label">Enter your email</label>
                        <input type="email" name="username" class="form-control form-control-lg" id="email" required>
                    </div>

                    <div class="col-12 mb-3 form-border textInput">
                        <label for="password" class="form-label">Enter password</label>
                        <input type="password" name="password" class="form-control form-control-lg" id="password" required>
                    </div>

                    <div id="confirmEmailId">
                        <button type="submit" class="btn btn-success btn-md">Next</button>
                    </div>
                    <div style="margin-top:5px;">
                     <h6><a href="" id="showRegistration">I don't have an account</a></h6> 
                    </div>
                    </form>

                </section>

                <!-- register user -->
                <section class="registration-section hide" id="reg-section">
                <form action="/registerUser" method="post"> 
                    <div class="col-12 mb-3 form-border">
                        <label for="email" class="form-label">Enter your email</label>
                        <input type="email" name="username" class="form-control form-control-lg" id="email" required>
                    </div>

                    <div class="col-12 mb-3 form-border">
                        <label for="fname" class="form-label">Enter your first name</label>
                        <input type="text" name="fname" class="form-control form-control-lg" id="fname" required>
                    </div>

                    <div class="col-12 mb-3 form-border">
                        <label for="lname" class="form-label">Enter your last name</label>
                        <input type="text" name="lname" class="form-control form-control-lg" id="lname" required>
                    </div>

                    <div class="col-12 mb-3 form-border">
                        <label for="phone" class="form-label">Enter your phone number</label>
                        <input type="number" name="phone" class="form-control form-control-lg" id="phone" required>
                    </div>

                    <div class="col-12 mb-3 form-border textInput">
                        <label for="password" class="form-label">Choose a password</label>
                        <input type="password" name="password" class="form-control form-control-lg" id="password" required>
                    </div>

                    <button type="submit" class="btn btn-success btn-md">Next</button>

                    <div style="margin-top:5px;">
                     <h6>have an account?<a href="/receive"> click here</a></h6> 
                    </div>

                </form>
                </section>
                <%}else{%>

                <!-- section two -->
                <section class="section-two" id="section-two">
                <form action="receiveRequest" method="post">
                    <div class="col-12 mb-3 form-border">
                        <label for="receiveAmount" class="form-label">Enter amount in Naira</label>
                        <input type="number" name="receiveAmount" class="form-control form-control-lg" id="receiveAmount" required>
                    </div>
                    
                    <div class="col-12 mb-3 form-border">
                        <label for="total" class="form-label">Equivalent in Pounds</label>
                        <input type="number" name="equivalent" class="form-control form-control-lg" id="equivalent">
                    </div>

                    <div>
                        <h6 class="alert alert-success"><strong>NGN 1 = <span id="rate"></span> | £0.00 FX fee</strong><br>
                        £10,000 maximum transaction allowed, <a href="/contact">contact us</a> for higher transaction.</h6>   
                    </div>
                    <div id="validate"></div>

                    <div class="col-12 mb-3 form-border">
                        <label for="ukAccountName" class="form-label">Enter transaction description</label>
                        <select name="description" class="form-select form-select-lg form-control" id="selection" required>
                            <option value="">Choose a description</option>
                            <option value="school">School fee</option>
                            <option value="purchase">Purchase</option>
                            <!-- <option value="bank">Bank transaction</option> -->
                        </select>
                    </div>
                    <div id="optionbase"></div>
                    <div>
                        <div id="emessage"></div>
                        <div><p>by clicking the confirm button, you agree to accept our <a href="/terms">Terms</a> and <a href="/privacy">privacy policy</a></p></div>
                        <button type="submit" class="btn btn-success btn-md" id="confirmExchange" disabled>Confirm</button>
                    </div>



                </form>
                </section>

                <!-- section three -->
                <section id="section-three">
                    <h6>3 of 3</h6>
                    <h6 class="alert alert-warning">
                        <strong>Due to the government regulation on money excahgne, you are required to provide the followings</strong>
                       <br>
                        <ul>
                            <li>Your BVN</li>
                            <li>A proof of ID (passport or BRP only)</li>
                            <li>A proof of address (Utility or bank statements)</li>
                        </ul>
                    </h6>
                    <div class="col-12 mb-3 form-border">
                        <label for="bvnNumber" class="form-label">Enter your BVN</label>
                        <input type="number" name="bvnNumber" class="form-control form-control-lg" id="bvnNumber" required>
                    </div>
                    <div class="col-12 mb-3 form-border">
                        <label for="bvnNumber" class="form-label">Upload valid ID</label>
                        <input type="file" name="validID" class="form-control form-control-lg" id="validID" required>
                    </div>
                    <div class="col-12 mb-3 form-border">
                        <label for="proofOfAddress" class="form-label">Enter proof of address</label>
                        <input type="file" name="proofOfAddress" class="form-control form-control-lg" id="proofOfAddress" required>
                    </div>
                    <div>
                        <button class="btn btn-outline-success btn-md" id="backToSectionTwo">Back</button>
                        <button class="btn btn-success btn-md" id="confirmExchange">Confirm</button>
                    </div>
                </section>
                <%}%>
            </div>
        </div>
    </div>
</div>
        
<script src="min/receive.js"></script>
<%- include ('include/footer') -%>
