<%- include("include/header") -%>

<div class="main-section">
    <div class="container">
        <div class="row">
            <h4 class="alert alert-success text-center"><strong>NGN TO GBP FORM</strong></h4>

            <!-- <div class="col-sm-12">
                        <div>
                            <h6 class="alert alert-success text-center">NGN TO GBP FORM</h6>
                            <div class="transfer-form">
                                <form class="row g-1" method="post" action="/receive">
                                    <div class="mb-2 form-floating">
                                        <input type="number" class="form-control receiveAmount" id="floatingInput" placeholder="Amount in NGN" min="1000" max="15000" required>
                                        <label for="floatingInput" class="form-label">Amount in NGN (N)</label>
                                    </div>
                                    <div class="mb-2 form-floating">
                                        <input class="form-control equivalent" id="floatingInput" placeholder="Equivalent in GBP (£)" disabled >
                                        <label for="floatingInput" class="form-label">Equivalent in GBP (£)</label>
                                    </div>
                                    <h6 class="receive-message">£1 = <span id="rate"></span></h6>
                                    <h6 class="alert alert-warning">After charges, you'll get : <strong>£<span id="total"></strong></span></h6>
                                    <div class="mb-2 form-floating">
                                        <input type="text" class="form-control" id="floatingInput" placeholder="UK Bank Name" required>
                                        <label for="floatingInput" class="form-label">UK Bank name</label>
                                    </div>
                                    <div class="mb-2 form-floating">
                                        <input type="number" class="form-control" id="floatingInput" placeholder="UK Bank Account Number" required>
                                        <label for="floatingInput" class="form-label">UK Bank account number</label>
                                    </div>
                                    <div class="mb-2 form-floating">
                                        <input type="number" class="form-control" id="floatingInput" placeholder="Sort Code" required>
                                        <label for="floatingInput" class="form-label">Sort Code</label>
                                    </div>
                                    <div class="mb-2 form-floating">
                                        <input type="text" class="form-control" id="floatingInput" placeholder="Name On Account" required>
                                        <label for="floatingInput" class="form-label">Name on the account</label>
                                    </div>
                                    <div class="mb-2 form-floating">
                                        <input type="text" class="form-control" id="floatingInput" placeholder="Transaction Details" required>
                                        <label for="floatingInput" class="form-label">Transaction description</label>
                                    </div>
                                    <h6 class="alert alert-dark">Student school fees, kindly enter your CAS as description</h6>
                                    

                                    <div class="mb-2 form-floating">
                                        <input type="number" class="form-control" id="floatingInput" placeholder="Your NGN BVN" required>
                                        <label for="floatingInput" class="form-label">Your NGN BVN</label>
                                    </div>

                                    <div class="mb-2 form-floating">
                                        <input type="number" class="form-control" id="floatingInput" placeholder="Your NGN BVN" required>
                                        <label for="floatingInput" class="form-label">Amount in Naira</label>
                                    </div>
                                    
                                    <p>By using this service, you agreed to <a href="">terms</a>, and <a href="">privacy policy</a> of Wosiwosi Money</p>
                                    <button class="btn btn-success btn-md" type="submit" disabled> Submit </button>
                                </form>
                            </div>
                        </div>
            </div> -->
        
            <div class="forms-bar ">
                <!-- section one -->
                <section class="section-one" id="section-one">
                    <h6>1 of 3</h6>
                    <div class="col-12 mb-3 form-border">
                        <label for="email" class="form-label">Enter your email</label>
                        <input type="email" name="email" class="form-control form-control-lg" id="email" required>
                    </div>

                    <div class="col-12 mb-3 form-border textInput hide">
                        <label for="fname" class="form-label">Enter your first name</label>
                        <input type="text" name="fname" class="form-control form-control-lg" id="fname" required>
                    </div>

                    <div class="col-12 mb-3 form-border textInput hide">
                        <label for="lname" class="form-label">Enter your last name</label>
                        <input type="text" name="lname" class="form-control form-control-lg" id="lname" required>
                    </div>

                    <div class="col-12 mb-3 form-border textInput hide">
                        <label for="password" class="form-label">Choose a password</label>
                        <input type="password" name="email" class="form-control form-control-lg" id="password" required>
                    </div>
                    <div id="confirmEmailId">
                        <button class="btn btn-success btn-md" id="confirmMail">Next</button>
                    </div>
                    <div id="registerEmailId" class="hide">
                        <button class="btn btn-success btn-md" id="registerEmail">Next</button>
                    </div>
                </section>

                <section class="section-two" id="section-two">
                    <h6>2 of 3</h6>
                    <div class="col-12 mb-3 form-border">
                        <label for="bvn" class="form-label">Enter your BVN</label>
                        <input type="number" name="bvn" class="form-control form-control-lg" id="bvn" required>
                    </div>
                    <div>
                        <button class="btn btn-outline-success btn-md" id="backToEmail">Back</button>
                        <button class="btn btn-success btn-md" id="confirmBVN">Next</button>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>
        
<%- include("include/footer") -%>