<%- include("include/header") -%>

<div class="default-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p>
          Welcome to the WosiWosi Money App, provided by WosiWosi Foods Limited.
          These Terms of Use outline the terms and conditions governing your use
          of the WosiWosi Money App. By accessing or using the WosiWosi Money
          App, you agree to be bound by these terms. Please read them carefully
          before using the app.
        </p>
        <p><strong>1. Acceptance of Terms</strong></p>
        <p>
          By using the WosiWosi Money App, you acknowledge that you have read,
          understood, and agreed to comply with these Terms of Use. If you do
          not agree with these terms, please refrain from using the app.
        </p>
        <p><strong>2. Account Registration</strong></p>
        <p>
          In order to use the WosiWosi Money App, you may need to create an
          account. You agree to provide accurate and complete information during
          the registration process. You are responsible for maintaining the
          confidentiality of your account credentials and for any activity that
          occurs under your account.
        </p>
        <p><strong>3. Use of the App</strong></p>
        <ul>
          <li>
            You agree to use the WosiWosi Money App only for lawful purposes and
            in accordance with these Terms of Use.
          </li>
          <li>
            You will not use the app to engage in any unauthorized or unlawful
            activities, including but not limited to money laundering, fraud, or
            financing of illegal activities.
          </li>
          <li>
            You will not attempt to gain unauthorized access to the app or its
            systems, nor will you interfere with or disrupt the operation of the
            app.
          </li>
        </ul>
        <p><strong>4. Money Exchange and Transfer</strong></p>
        <ul>
          <li>
            The WosiWosi Money App allows you to exchange and transfer money
            between different African countries and the UK.
          </li>
          <li>
            Exchange rates and fees will be clearly presented to you before you
            confirm any transaction.
          </li>
          <li>
            You are responsible for ensuring that all transaction details are
            accurate before confirming a transfer.
          </li>
        </ul>
        <p><strong>5. Compliance with Laws and Regulations</strong></p>
        <ul>
          <li>
            You agree to comply with all applicable laws and regulations related
            to money exchange, money transfer, and financial transactions.
          </li>
          <li>
            You acknowledge that the app may be subject to regulatory
            requirements, and you will provide any necessary information or
            documentation for compliance purposes.
          </li>
        </ul>
        <p><strong>6. User Responsibilities</strong></p>
        <ul>
          <li>
            You are solely responsible for the accuracy of the information you
            provide during registration and for any transactions you initiate
            through the app.
          </li>
          <li>
            You agree to promptly report any suspicious or unauthorized
            activities related to your account or transactions.
          </li>
        </ul>
        <p><strong>7. Privacy</strong></p>
        <ul>
          <li>
            Your privacy is important to us. Please review our Privacy Policy to
            understand how we collect, use, and protect your personal
            information.
          </li>
        </ul>
        <p><strong>8. Changes to the Terms</strong></p>
        <ul>
          <li>
            We reserve the right to modify or update these Terms of Use at any
            time. Any changes will be effective upon posting to the app.
          </li>
          <li>
            Continued use of the app after such changes constitutes your
            acceptance of the modified terms.
          </li>
        </ul>
        <p><strong>9. Termination</strong></p>
        <ul>
          <li>
            We reserve the right to terminate or suspend your access to the
            WosiWosi Money App, with or without notice, for any reason,
            including if we believe you have violated these Terms of Use.
          </li>
        </ul>
        <p><strong>10. Contact Us</strong></p>
        <p>
          For queries or concerns about this Privacy Policy or our privacy
          practices, reach out to us at
          <a href="mailto:media@wosiwosi.co.uk">media@wosiwosi.co.uk</a>.
        </p>
        <p>
          By using the WosiWosi Money App, you acknowledge that you have read
          and agreed to these Terms of Use. Thank you for choosing WosiWosi
          Money for your money exchange and transfer needs.
        </p>
      </div>
    </div>
  </div>
</div>
<%- include ('include/footerContent') -%>
<%- include('include/footer') -%>
