                <!-------------------Onboard------------------------>
                    <% if(user.profile.fname==""){ %>

                        <!-- ONETIME UNBOARDING PROFILE COMPLETE -->
                            <!-- <h6>Step 1 of 3</h6> -->
                          <p class="alert alert-warning text-center" role="alert">Kindly complete your profile</p>
                        <div class="row profile-bar">
                            <div class="col-sm-12 ">
                                    <form class="row g-1">
                                        <div class="mb-2 col-md-6 form-floating">
                                          <input type="text" name='fname' class="form-control forJs fname" id="floatingInput" placeholder="First Name" required>
                                          <label for="floatingInput" class="form-label">First Name</label>
                                        </div>

                                        <div class="mb-2 col-md-6 form-floating">
                                          <input type="text" name='lname' class="form-control forJs lname" id="floatingInput" placeholder="Last Name" required>
                                          <label for="lastName" class="form-label">Last Name</label>
                                        </div>

                                        <div class="mb-2 col-6 form-floating">
                                          <input type="number" name="phone" placeholder="Phone" class="form-control forJs phone" id="floatingInput" required >
                                          <label for="floatingInput" class="form-label">Phone</label>
                                        </div>

                                        <div class="mb-2 col-6 form-floating">
                                            <input type="date" name="dob" class="form-control forJs dob" id="floatingInput" required >
                                            <label for="floatingInput" class="form-label">Date of Birth</label>
                                          </div>

                                        <div class="mb-2 col-12 form-floating">
                                          <input type="text" name="address" placeholder="Address" class="form-control forJs address" id="floatingInput" required>
                                          <label for="floatingInput" class="form-label">Address</label>
                                        </div>

                                        <div class="mb-2 col-6 form-floating">
                                          <input type="text" name="city" placeholder="City" class="form-control forJs city" id="floatingInput" required >
                                          <label for="floatingInput" class="form-label">City</label>
                                        </div>

                                        <div class="mb-2 col-6 form-floating">
                                            <input type="text" name="postCode" placeholder="Post code" class="form-control forJs postcode" id="floatingInput" required >
                                            <label for="floatingInput" class="form-label">Post Code</label>
                                          </div>
                                          
                                          <div class="mb-2 col-md-6 form-floating">
                                            <select class="form-control forJs residence" name="residence" id="floatingInput"> 
                                              <option>United Kingdom</option>
                                            </select>
                                            <label for="floatingInput" class="form-label">Country of residence</label>
                                          </div>

                                          <div class="mb-2 col-md-6 form-floating">
                                            <input type="text" name="nationality" class="form-control forJs nationality" id="floatingInput" placeholder="Nationality">
                                            <label for="floatingInput" class="form-label">Nationality</label>
                                          </div>
                                          <button type="submit" id="save-btn" class="btn btn-success btn-md">Save</button>
                                        </div>
                                </form>
                            </div>


                         <!-- RECEIVER UNBOARDING
                         <}else if(user.receiver.length==0){>
                            <h6>Step 2 of 3</h6>
                            <p class="alert alert-warning text-center" role="alert">Kindly add receiver details </p>
                            <p class="alert alert-light">Account that receives money</p>
                            <div class="col-md-12 rec-form-bar" id="addrec-bar">
                                <div class="col-md-12 add-rec">
                                  <form>
                                    <div class="mb-3">
                                      <label>Account Number</label>
                                        <input type="number" name="acctNumber" class="form-control inputs" id="accountNumber" required>
                                      </div>

                                      <div class="mb-3">
                                        <label>Bank Name</label>
                                        <select name="bankName" class="form-select" id="bankName" required></select>
                                      </div>
                                      
                                      <h6 id="account-msg" class="" role="alert"></h6>

                                      <a class="btn btn-outline-dark btn-sm" id="btn-confirm" >Confirm</a>
                                      <button type="submit" class="btn btn-success btn-sm btn-addAccount" id="btn-addAccount" disabled>Add Account</button>
                                    </form>
                                </div>
                            </div>

                        ADD PAYMENT CARD UNBORADING
                        <}else if(user.cardDetails.length==0){>
                            <h6>Step 3 of 3</h6>
                            <p class="alert alert-warning text-center" role="alert">Add a payment method</p>
                            <p class="alert alert-light"><i class="fa-solid fa-lock fa-sm"></i>Details 100% safe and secured</p>
                        <div class="col-md-12 rec-form-bar" id="addrec-bar">
                            <div class="col-md-12" id="card-details-bar">
                               <form id="payment-form">
                                 <div class="form-group">
                                   <div class="cardForm" id="card-element">
                                   </div>
                                   <div id="card-errors" role="alert"></div>
                                 </div>
                                 <h6 class="card-msg alert alert-danger" role="alert"></h6>
                                 <button type="submit" class="btn btn-success btn-md">Add Card</button>
                               </form>
                             </div>
                       </div> -->

                        <%}%>
                        
                        <!-- else if(user.proof.faceMatchResult!="APPROVE"){
                            <h6>Step 4 of 4</h6>
                            <p class="alert alert-warning text-center notice" role="alert">Kindly verify your identity, it takes just 30 seconds</p>
                            <div class="kyc-item-id">
                                  <a href="/verify" class="btn btn-success btn-md text-center">Click to verify ID</a>
                              </div>
                    } -->
                <!-- -----------------------end------------- -->
